<section id="contacts" class="section section--contacts">
    <div class="container-medium">
        <div class="bg-fff">
            <div class="container">
                <div class="inner">
                    <div class="sub-head-row">
                        <h2 class="title">Contacts</h2>
                    </div>
                    <div class="row">
                        <div class="col col-1-2">
                            <div class="block block-landscape bg-light">
                                <div class="block-icon block-icon--bg">
                                    <img src="img/icons/10.svg" alt="icon">
                                </div>
                                <div class="block-box">
                                    <div class="block-box__part">
                                        <h4 class="bold-text">
                                            Telegram
                                        </h4>
                                        <a href="<%=tg_dev%>" class="link"><%=tg_dev%></a>
                                    </div>
                                    <a href="<%=tg_dev%>" class="btn">
                                        Go
                                        <span class="btn-icon">
                                             <img src="img/icons/13.svg" alt="icon">
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col col-1-2">
                            <div class="block block-landscape bg-light">
                                <div class="block-icon block-icon--bg">
                                    <img src="img/icons/11.svg" alt="icon">
                                </div>
                                <div class="block-box">
                                    <div class="block-box__part">
                                        <h4 class="bold-text">
                                            Email
                                        </h4>
                                        <a href="mailto:<%=email_dev%>" class="link"><%=email_dev%></a>
                                    </div>
                                    <button class="btn" data-copy="<%=email_dev%>">
                                        Copy
                                        <span class="btn-icon">
                                            <img src="img/icons/12.svg" alt="icon">
                                        </span>
                                        <span class="btn-title">
                                            Copied
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="head-row">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
