<section id="section-2" class="section section--2">
    <div class="container-medium">
        <div class="bg-light">
            <div class="container">
                <div class="inner">
                    <div class="head-row">
                        <h2 class="title">Section Title 2</h2>
                        <h4 class="sub-title">Section Subtitle</h4>
                    </div>
                    <div class="row">
                        <div class="col col-1-2">
                            <img class="block-banner w100p" src="uploads/banner-2.jpg" alt="banner-2">
                        </div>
                        <div class="col col-1-2">
                            <div class="block-text">
                                <h3 class="medium-title text-left">
                                    Subtitle 1
                                </h3>
                                <p class="text">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consequatur dicta illum ipsam laboriosam magni, mollitia odio unde ut voluptates. Maxime, ut, voluptate. Ea, eius facere harum maxime non recusandae.
                                </p>

                                <p class="text">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, debitis dolorem, dolores dolorum et eum ex harum id iure maxime minima molestiae molestias nobis officia provident recusandae tempore ut veritatis.
                                </p>

                                <p class="text">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aperiam asperiores culpa dicta earum, eius, id incidunt iusto laborum mollitia quam recusandae, saepe sapiente sed veniam voluptate voluptates. Facilis, quibusdam?
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="sub-head-row">
                        <h3 class="medium-title">
                            Subtitle 2
                        </h3>
                    </div>
                    <div class="row">
                        <div class="col col-1-3">
                            <div class="block bg-fff">
                                <div class="block-icon">
                                    <img src="img/icons/1.png" alt="icon">
                                </div>
                                <p class="text">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aspernatur consequatur culpa cupiditate debitis dignissimos dolor fugit hic inventore laborum neque, placeat quae ullam? Aliquid aspernatur culpa dolorem minus nostrum!
                                </p>
                            </div>
                        </div>
                        <div class="col col-1-3">
                            <div class="block bg-fff">
                                <div class="block-icon">
                                    <img src="img/icons/2.png" alt="icon">
                                </div>
                                <p class="text">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem culpa debitis dicta enim esse ipsam laudantium minima mollitia, nam necessitatibus provident quas quia quod rerum sequi voluptas voluptatibus. Animi, magnam?
                                </p>
                            </div>
                        </div>
                        <div class="col col-1-3">
                            <div class="block bg-fff">
                                <div class="block-icon">
                                    <img src="img/icons/3.png" alt="icon">
                                </div>
                                <p class="text">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquam cumque doloremque eos, labore molestiae non omnis repudiandae sunt tenetur. Cupiditate eum incidunt ipsum laborum molestiae omnis quisquam veniam voluptate!
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="sub-head-row">
                        <h3 class="medium-title">
                            Subtitle 3
                        </h3>
                    </div>
                    <div class="container-mini">
                        <div class="row">
                            <div class="col col-1-2">
                                <div class="block bg-fff">
                                    <div class="block-icon">
                                        <img src="img/icons/6.png" alt="icon">
                                    </div>
                                    <p class="text">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad aspernatur consectetur eos error expedita facere nostrum odit suscipit. Ab alias aut beatae dignissimos dolor doloribus eos mollitia nihil, repellendus?
                                    </p>
                                </div>
                            </div>
                            <div class="col col-1-2">
                                <div class="block bg-fff">
                                    <div class="block-icon">
                                        <img src="img/icons/7.png" alt="icon">
                                    </div>
                                    <p class="text">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam deleniti dolores exercitationem fuga quo quos. Alias aliquam doloremque earum eos, illum laborum maxime temporibus. Ab ad atque corporis ducimus inventore?
                                    </p>
                                </div>
                            </div>
                            <div class="col col-1-2">
                                <div class="block bg-fff">
                                    <div class="block-icon">
                                        <img src="img/icons/8.png" alt="icon">
                                    </div>
                                    <p class="text">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis delectus dolores dolorum est eum eveniet hic iste, iure molestias nam nobis non odio odit quas quia, quisquam saepe temporibus unde?
                                    </p>
                                </div>
                            </div>
                            <div class="col col-1-2">
                                <div class="block bg-fff">
                                    <div class="block-icon">
                                        <img src="img/icons/9.png" alt="icon">
                                    </div>
                                    <p class="text">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consectetur corporis deserunt dolorem, esse hic ipsam laudantium, mollitia nam nobis non quam quidem, quod ratione reprehenderit sapiente sint velit. Impedit.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="head-row">
                        <p class="large-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam consequatur culpa minima nostrum quis reprehenderit rerum sit ut? Aliquam aspernatur doloremque ducimus earum, impedit mollitia natus numquam perferendis perspiciatis quos.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
