<section id="slider" class="section section--slider" data-slider="container">
    <div class="container-medium">
        <div class="bg-fff">
            <div class="container">
                <div class="inner">
                    <div class="sub-head-row slider__head">
                        <h2 class="title text-left w100p">Slider</h2>
                        <div class="slider__navigation" data-slider="navigation">
                            <div class="prev-arrow"></div>
                            <div class="next-arrow"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-large">
        <div class="container-medium bg-fff"></div>
        <div class="inner">
            <div class="slider" data-slider="slider">
                <div class="slider__item">
                    <div class="block bg-light">
                        <div class="block-image">
                            <img src="uploads/slides/slide-1.jpg" alt="slide-1">
                        </div>
                        <div class="block-box__part">
                            <h5 class="sub-title medium-text text-left">
                                Title
                            </h5>
                            <p class="text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="slider__item">
                    <div class="block bg-light">
                        <div class="block-image">
                            <img src="uploads/slides/slide-2.jpg" alt="slide-2">
                        </div>
                        <div class="block-box__part">
                            <h5 class="sub-title medium-text text-left">
                                Title
                            </h5>
                            <p class="text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="slider__item">
                    <div class="block bg-light">
                        <div class="block-image">
                            <img src="uploads/slides/slide-3.jpg" alt="slide-3">
                        </div>
                        <div class="block-box__part">
                            <h5 class="sub-title medium-text text-left">
                                Title
                            </h5>
                            <p class="text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="slider__item">
                    <div class="block bg-light">
                        <div class="block-image">
                            <img src="uploads/slides/slide-4.jpg" alt="slide-4">
                        </div>
                        <div class="block-box__part">
                            <h5 class="sub-title medium-text text-left">
                                Title
                            </h5>
                            <p class="text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="slider__item">
                    <div class="block bg-light">
                        <div class="block-image">
                            <img src="uploads/slides/slide-5.jpg" alt="slide-5">
                        </div>
                        <div class="block-box__part">
                            <h5 class="sub-title medium-text text-left">
                                Title
                            </h5>
                            <p class="text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="slider__item">
                    <div class="block bg-light">
                        <div class="block-image">
                            <img src="uploads/slides/slide-6.jpg" alt="slide-6">
                        </div>
                        <div class="block-box__part">
                            <h5 class="sub-title medium-text text-left">
                                Title
                            </h5>
                            <p class="text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
