//@include f700;

@mixin f400 {
  font-family: "Stolzl-Regular", sans-serif;
  font-weight: 400;
}

@mixin f400-book {
  font-family: "Stolzl-Book", sans-serif;
  font-weight: 400;
}

@mixin f500 {
  font-family: "Stolzl-Medium", sans-serif;
  font-weight: 500;
}

@mixin f700 {
  font-family: "Stolzl-Bold", sans-serif;
  font-weight: 700;
}


//@include response(1023px);

@mixin response($size) {
  @media only screen and (max-width: $size) {
    @content;
  }
}

@mixin response-min($size) {
  @media only screen and (min-width: $size) {
    @content;
  }
}

@mixin response-range($min, $max) {
  @media only screen and (min-width: $min) and (max-width: $max) {
    @content;
  }
}

@mixin hover() {
  @media only screen and (min-width: 768px) {
    &:hover {
      @content;
    }
  }
}